@use "../customProducts" as *;

.nav {
  width: 100%;
  margin: 0;
}
button {
  background-color: #231546 !important;
  &:hover {
    background-color: green !important;
  }
}
.menu {
  background: linear-gradient(
    to right,
    rgba($primary, 0.94),
    rgba($secondary, 0.35)
  );

  .navbar-nav {
    padding: 0 0.8rem;
    a {
      color: white !important;
      text-transform: capitalize;
      font-weight: 600;
      &:hover {
        color: green !important;
        cursor: pointer;
      }
    }
  }
}

li {
  &:hover {
    color: green;
    cursor: pointer;
  }
}
.navbar-toggler-icon {
  background-color: white;
  border-radius: 3px;
  &:hover {
    background-color: green !important;
  }
}
