@use "../custom" as *;

.more {
  width: 7em;
  margin: auto;
  height: 3em;
  padding-top: 0.8em;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .more {
    width: 5em;
    font-size: 0.7em;
    height: 2em;
    padding: 0;
  }
}
